.card{  
   display:flex;
   flex-direction:column;
   list-style:none;
   border-radius:10px;
  
}

.card__image{
    height:413px;
    width:100%;
    object-fit:cover;
    display:block;
    border-radius:8px;
}

.card__content{
    display:flex;
    align-items:center;
    justify-content:space-between;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-top:12px;

}

.card__like-btn{
    background-image:url(../images/like-icon.svg);
    width:23px;
    height:20px;
    border:none;
    background-color:transparent;
    opacity:40%;
    margin-left:auto;
    color:rgba(33,33,33,40%);
    cursor:pointer;

}

.card__like-btn:hover{
  opacity:1;
}
.card__title{
    font-weight:500;
    font-size:20px;
    line-height:120%;
    letter-spacing:0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 0;
}

@media screen and (max-width:627px){
      .card__image {
        height:288px;
      }
      .card__title {
        max-width: 235px;
        font-size: 16px;
        line-height: 16px;
      }
      .card__like-btn { 
        width: 20px; 
        height: 18px; 
        background-size: 20px 18px; 
      }  
    }