.modal{
    position:fixed;
    background-color: rgba(0,0,0,0.5) ;
    visibility:hidden;
    transition: opacity 0.3s ease visibility 0.3s ease;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 10px;

}

.modal_is-opened{
    visibility: visible;
    opacity:1;
    transition-delay:0s;
}

.modal__container{
    max-width:730px ;
    width: 100%;
    border-radius: 8px ;
    background-color: #fff;
    padding:32px 50px;
    position: relative;
    box-sizing: border-box;

}

.modal__close-btn{
    position:absolute;
    width: 40px;
    height: 40px;
    top: 25px;
    right: 50px;
    background: url(../images/close-Icon.svg);
    border:0;
    padding:0;
    opacity:.4;
}

.modal__close-btn{
    cursor:pointer;
    opacity: 1;
}
  
.modal__title{
  margin: 0 0 32px;
  font-size: 32px;
  line-height: 100%;
  color:rgba(33,33,33,1);
}

.modal__form{
    display:flex;
    flex-direction:column;
}

.modal__label{
    margin:0 0 32px;
}

.modal__input{
    display: block;
    margin: 8px 0 0 ;
    width: 100%;
    border-radius: 8px;
    border: 1px solid  rgba(33,33,33,.4);
    padding:16px 12px;
    box-sizing: border-box;
    
}
.modal__input:hover{
    border:1px solid rgba(33,33,33,1);
    cursor: pointer;
}

.modal__submit-btn{
    max-width:156px;
    height:52px;
    border-radius:8px;
    line-height: 1 ;
    font-size: 16px;
    border:none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(33,33,33,1);
    color: rgba(252,245,229,1);
    opacity:.4;
}

.modal__submit-btn:hover{
    cursor:pointer;
    opacity:1;

}
.modal__input::placeholder{
    color:rgba(33,33,33,.3)
}

@media screen and (max-width:627px){
    .modal__title{
        font-size: 20px;
        margin:0 0 24px;
    }

    .modal__container{
        padding:22px 12px 12px;
    }

    .modal__submit-btn{
        margin:0;
        width:100%;
        max-width:none;
    }
    .modal__close-btn{
        top:22px;
        right:12px;
    }
}